# Factbook Exercise
* The factbook.db database contains some facts about the countries of the world.
* It contains only one table called facts.
* Use this database to answer the following question.

In [2]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

* **Which is the most populated country?**

* **Which is the least populated country?**

* **What's the world's total population (in billions)?**

* **Top 5 countries with the highest population growth?**

* **Top 5 countries with the population_growth higher than average growth?**

* **Which countries have the highest population density?**

In [12]:
%%sql
SELECT *
FROM facts
LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]